.QUESTIONFORMEXCEL {
  width: 100%;
  height: fit-content;
  margin: 0;
  padding: 0;
  position: relative;
}
.QUESTIONFORMEXCEL .ant-upload-wrapper,
.QUESTIONFORMEXCEL .ant-upload-list {
  width: fit-content;
  max-width: 220px;
}
