.QUESTION {
  width: 100%;
  height: 100%;
  min-height: 100%;
  overflow: auto;
  margin: 0;
  padding: 0;
  background: rgb(27, 30, 33);
  padding-bottom: 50px;
  box-sizing: border-box;
}
.QUESTION .questionMain {
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  font-family: poppins;
  color: white;
}
.QUESTION h2 {
  width: 100%;
  font-weight: 500;
  margin: 10px 0;
  margin-top: 0;
  padding: 3px 40px;
  box-sizing: border-box;
  background: rgb(48, 50, 53);
  border: 0.2mm solid rgb(64, 66, 71);
}
.QUESTION h3 {
  font-weight: 500;
  padding: 0 40px;
  margin-bottom: 10px;
  margin-top: 25px;
  box-sizing: border-box;
}
.QUESTION .title-details {
  display: flex;
  align-items: center;
  border-bottom: 0.3mm solid rgb(61, 64, 67);
  padding: 10px 40px;
  box-sizing: border-box;
  padding-top: 0;
  margin-bottom: 15px;
}
.QUESTION .difficulty,
.QUESTION p,
.QUESTION .desc {
  font-size: 14px;
}
.QUESTION p,
.QUESTION .desc {
  padding: 0 40px;
  box-sizing: border-box;
  margin: 0;
  white-space: pre-line;
}
.QUESTION .desc p,
.QUESTION .desc h2,
.QUESTION .desc h3 {
  padding: 0;
}
.QUESTION .title-details .material-icons-round {
  color: rgb(82, 206, 111);
  font-size: 20px;
  margin-left: 5px;
}
.QUESTION .example {
  width: 100%;
  box-sizing: border-box;
  padding: 0 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two equal columns */
  grid-auto-rows: minmax(100px, auto);
}
.QUESTION .example .inout {
  padding: 10px;
  box-sizing: border-box;
  border: 0.2mm solid rgb(74, 77, 82);
  background: rgb(48, 50, 53);
}
.QUESTION .example .inout:nth-child(even) {
  border-left: none;
}
.QUESTION .example .inout .example-heading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px;
  padding-top: 0px;
  border-bottom: 0.2mm solid rgb(74, 77, 82);
  margin-bottom: 10px;
}
.QUESTION .example .inout .example-heading span {
  font-size: 20px;
  cursor: pointer;
}
.QUESTION .example .inout .inout-value {
  word-wrap: break-word;
  white-space: pre-line;
}
.QUESTION .example .inout .material-icons-outlined:active {
  color: rgb(82, 206, 111);
}
.QUESTION #accord1,
.QUESTION #accord2 {
  display: none;
}
.QUESTION .accordian {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 40px;
  font-size: 16px;
  font-weight: 500;
  color: white;
  margin: 15px 0;
  margin-top: 25px;
  cursor: pointer;
}
.QUESTION .accordian .icon {
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
}
.QUESTION .accordian .icon::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  content: "expand_more";
  font-family: "Material Icons";
  font-size: 20px;
  color: white;
}

.QUESTION .collapse1,
.QUESTION .collapse2 {
  width: 100%;
  box-sizing: border-box;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: left;
  flex-wrap: wrap;
  max-height: 0;
  overflow: hidden;
  transition: 0.25s;
}
.QUESTION .collapse1 span,
.QUESTION .collapse2 span {
  font-family: poppins;
  color: rgb(225, 227, 230);
  font-size: 12px;
  background: rgb(74, 77, 82);
  padding: 5px 10px;
  border-radius: 4mm;
  margin-right: 10px;
}
.QUESTION #accord1:checked ~ .collapse1 {
  max-height: 300px;
}
.QUESTION #accord1:checked ~ .collapse1 {
  max-height: 300px;
}
.QUESTION #accord2:checked ~ .collapse2 {
  max-height: 300px;
}
.QUESTION #accord1:checked + .accordian .icon::before {
  content: "expand_less";
}
.QUESTION #accord2:checked + .accordian .icon::before {
  content: "expand_less";
}
