::-webkit-scrollbar {
  width: 8px;
  height: 2px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: rgb(155, 155, 155);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(110, 110, 110);
}
.CONTESTLEADERBOARD {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.CONTESTLEADERBOARD .head {
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
  padding: 20px;
  font-family: poppins;
  display: flex;
  align-items: center;
}
.CONTESTLEADERBOARD .head .head-title {
  margin-right: 10px;
  font-weight: 500;
}
.CONTESTLEADERBOARD .table {
  width: 100%;
  flex-grow: 1;
}
