.MCQPRECONTEST {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
}
.MCQPRECONTEST .HEROLAYOUTCENTER {
  height: 100vh;
  flex-wrap: wrap;
}
.MCQPRECONTEST .form,
.MCQPRECONTEST .instructions {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 360px;
  flex-direction: column;
  position: relative;
}
.MCQPRECONTEST .form {
  flex-basis: 40%;
}
.MCQPRECONTEST .instructions {
  flex-basis: 60%;
  background: url(../../../images/preContestBack.png) rgb(227, 238, 254);
  background-size: cover;
}
.MCQPRECONTEST .form form {
  width: 350px;
  height: fit-content;
  box-sizing: border-box;
  padding: 20px;
}

.MCQPRECONTEST .form form .inputf {
  display: block;
  width: 100%;
  position: relative;
  margin-bottom: 20px;
}
.MCQPRECONTEST .form form .inputf .input {
  width: 100%;
  box-sizing: border-box;
  padding: 0 10px;
  padding-top: 0;
  height: 40px;
  font-size: 13px;
  font-family: poppins;
  border: none;
  outline: 0.4mm solid rgb(150, 150, 150);
  border-radius: 1mm;
  transition: 0.25s;
}
.MCQPRECONTEST .form form .inputf .input:focus {
  outline: 0.4mm solid rgb(26, 115, 232);
  padding-top: 14px;
}

.MCQPRECONTEST .form form .inputf .label {
  width: fit-content;
  height: fit-content;
  transition: 0.25s;
  font-family: poppins;
  font-size: 11px;
  font-weight: 500;
  color: rgba(17, 46, 84, 0.5);
  position: absolute;
  top: 7px;
  left: 10px;
  transform: scale(0);
}
.MCQPRECONTEST .form form .inputf .input:focus + .label {
  top: 2px !important;
  transform: scale(1) !important;
}
.MCQPRECONTEST .form form .inputf .input:focus::placeholder {
  display: none;
  opacity: 0;
}
.MCQPRECONTEST .form form .inputf .input:not(:placeholder-shown) + .label {
  top: 2px !important;
  transform: scale(1) !important;
}
.MCQPRECONTEST .form form .inputf .input:not(:placeholder-shown) {
  padding-top: 14px;
}
.MCQPRECONTEST .form .btn {
  display: block;
  text-align: center;
  width: 310px;
  box-sizing: border-box;
  padding: 10px 0;
  font-family: poppins;
  font-size: 14px;
  background: rgb(26, 115, 232);
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 1mm;
  text-decoration: none;
  margin-bottom: 20px;
}
.MCQPRECONTEST .form img {
  width: 100px;
  position: absolute;
  top: 20px;
  left: 20px;
}
.MCQPRECONTEST .form form p {
  width: 100%;
  text-align: center;
  font-family: "Major Mono Display";
  font-size: 26px;
  color: rgb(17, 46, 84);
  padding-bottom: 20px;
}
.MCQPRECONTEST .instructions .inst-title {
  width: 100%;
  font-family: "Major Mono Display";
  text-align: center;
  font-size: 26px;
  color: rgb(17, 46, 84);
}
.MCQPRECONTEST .instructions ol {
  width: 100%;
  margin-left: 50px;
  font-family: poppins;
  color: rgb(17, 46, 84);
  line-height: 28px;
  margin-top: 40px;
  box-sizing: border-box;
  padding-right: 25px;
}
.MCQPRECONTEST .instructions ol li {
  background: rgb(227, 238, 254);
}
.MCQPRECONTEST .instructions p {
  width: fit-content;
  font-family: poppins;
  font-size: 50px;
  background: rgb(227, 238, 254);
  color: rgb(17, 46, 84);
  font-weight: 500;
}
